@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


.sobre-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E5E5;
  
   
}

.sobre-titulo-cont {
    color: black;
    border: 5px solid black;
    padding: 10px 55px 10px 55px;
    margin-top: 100px;
    
    
}

.sobre-para-cont {

    color: black;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 138.68%;    
    text-align: center;
    margin-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}



.separator-cont {
    margin-top: 50px;
    height: 8px;
    justify-content: center;
    align-items: center;
}

.explore-cont{

    margin-top: 80px;
    margin-bottom: 80px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.container-tags-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;

}

.tag1-cont {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 90px;

}

.tag-para-cont {
    text-align: justify;
    margin-top: 20px;
    padding-left: 30px;
}

.header-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .container-buttons {
    display: flex;
    gap: 20px;
  }
  
  button {
    background: #E5E5E5;
    height: 50px;
    width: 140px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: ease all 0.2s;
    cursor: pointer;
    border: 3px solid black;
    padding: 0 20px 0 20px;
    width: 200px;
    margin-top: 20px;
    color: black;
  }
  
  button:hover {
    filter: brightness(0.85);
  }
  
  button:last-child {
    background: #E5E5E5;
    border: 3px solid black;
    color: black;
    cursor: not-allowed;
    padding: 0 10px 0 10px;
    width: 200px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  input {
    height: 35px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #E5E5E5;
    font-size: 18px;
    padding: 0 10px;
    
  }


  
  label > span:last-child {
    color: red;
  }

  textarea {
      background-color: #E5E5E5;
  }
