.port-header-por{
    width: 100vw;
    height: 220px;
    background: url("https://hrmcdn-13a1c.kxcdn.com/images/hr-sg/content-images/priya-june-2020-patrick-tay-work-from-home-lead-istock.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: saturate(0.5);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}

.ajuste-botao-por{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-por {
    /* background: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    padding: 0 20px;
    background: #1A1A1A;
    color: white;
    
  
  }
  
  .menu-por {
    display: flex;
    list-style: none;
    
    
  }
  
  .item-menu-por {
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 300;
    font-family: var(--font-family);
    padding: 5px;
    padding-top: 20px;
    
  }

  .list-por {
        width: 100vw;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        grid-row-gap: 0;
        background-color: black;
        margin-bottom: 0; 
        padding-top: 30px;
        padding-bottom: 30px;
        
  }

  .usandoImagemPor {
    height: 400px;
    width: 640px;
    filter: brightness(0.4);

  
  }

  .usandoImagemPor:hover {
    filter: brightness(0.7);
  }

  .sobre-titulo-por {
    color: black;
    border: 5px solid black;
    padding: 10px 55px 10px 55px;
    width: 350px;
    
    
}

.footer-por {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 0 20px;
  background: #1A1A1A;
  color: white;
}

.name-project-por {
  font-size: 1rem;
  font-weight: 100;
  padding-bottom: 20px;
  padding-top: 5px;
  letter-spacing: 4px;
  font-family: var(--font-family);
  
}

.item-list-projects-por-container {
  position: relative;
  text-align: center;
  color: white; 
}

#centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  padding: 10px;
  width: 60%;
  font-weight: 700;
}

#centered2 {
  position: absolute;
  top: 64%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 60%;
  font-weight: 300;
  font-size: 12px;
}